.header {
  --font-size-header-icon: clamp(2rem, 11vw, 4rem);
  --font-size-header-logo: clamp(3rem, 12vw, 5rem);

  width: 100%;
  max-width: var(--size-lg);
  margin-top: var(--size-fluid-6);
  /* transform: translateX(calc(var(--size-8) * 0.5)); */

  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;

  position: relative;
}

.header__home-btn {
  display: flex;
  align-items: center;
}

.header__icon {
  font-size: var(--font-size-header-icon);
  color: var(--cyan-3);
}

.header__icon--lighten {
  color: var(--red-5)
}

.header__logo {
  font-size: var(--font-size-header-logo);
  line-height: 0;
  color: var(--cyan-3);

  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For older Firefox */
  -ms-user-select: none; /* For Internet Explorer */
}

.header__logo--lighten {
  color: var(--red-5);
}

.header__about {
  width: var(--size-fluid-4);
  height: var(--size-fluid-4);
  padding: 0;

  border: none;
}
