.header {
  width: 100%;
  max-width: var(--size-lg);
  transform: translateX(calc(var(--size-8) * 0.5));

  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: center;

  position: relative;
}

.header__logo {
  font-size: var(--font-size-header-logo);
  line-height: 0;

  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For older Firefox */
  -ms-user-select: none; /* For Internet Explorer */
}

.header__about {
  width: var(--size-8);
  height: var(--size-8);
  padding: 0;

  border: none;
}
