.history {
  display: flex;
  flex-direction: column-reverse;
  gap: var(--size-3);

  border-radius: var(--radius-2);
}

.history__card {
  width: fit-content;
  display: flex;
  flex-direction: row;
  padding: var(--size-2);

  align-items: center;
  gap: var(--size-2);

  border: var(--border-size-1) solid var(--gray-1);
  border-radius: var(--radius-2);
  box-shadow: var(--shadow-3);
}

.history__inner-row {
  width: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: center;
  gap: var(--size-2);
}

.history__index {
  margin: 0;
  font-size: var(--font-size-2);
}

.history__btn {
  display: flex;
  align-items: center;
  gap: var(--size-2);
  border-radius: var(--radius-2);

  font-family: var(--font-monospace-code);
  font-size: var(--font-size-1);
}

.history__arrow {
}

.history__url {
}

.history__key {
  margin-left: auto;
  background-color: var(--teal-2);

  &:hover {
    background-color: var(--teal-3);
  }
}