.notfound {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--size-2);
}

.notfound__card {
  display: flex;
  gap: var(--size-3);

  padding: var(--size-3);

  border-color: var(--orange-5);
  background-color: hsl(var(--orange-1-hsl) / 30%);
}

.notfound__i {
}

.notfound__p {
  font-size: var(--font-size-2);
}

.notfound__img {
  width: var(--size-fluid-7);

  filter: brightness(1.3);
}

.notfound__return {
  width: fit-content;
}