.submit {
  --font-size-fluid-row2: clamp(.7rem, 1vw, .9rem);

  width: 100%;
  max-width: var(--size-md);

  display: flex;
  flex-direction: column;
  gap: var(--size-2);
}

.submit__row1 {
  width: 100%;
  height: var(--size-fluid-4);

  display: flex;
  align-items: grow;
  gap: var(--size-2);
}

.submit__row2 {
  width: 100%;

  display: flex;
  align-items: center;
  gap: var(--size-fluid-1);

  font-size: var(--font-size-fluid-row2);
}

.submit__btn {
  width: var(--size-10);

  display: grid;
  align-content: center;
  justify-content: center;

  background-color: var(--indigo-2);

  &:hover {
    background-color: var(--indigo-3);
  }
}

.submit__radio {
  display: flex;
  gap: var(--size-3);
}
