.checkbox {

}

.checkbox__field {

}

.checkbox__label {
  user-select: none; /* Disables text selection */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For older Firefox */
  -ms-user-select: none; /* For Internet Explorer */
}