/* HTML: <div class="loader"></div> */
.spinner {
  width: var(--size-fluid-2);
  aspect-ratio: 1;
  --_c:no-repeat linear-gradient(var(--orange-3) 0 0) 50%; 
  background: 
    var(--_c)/100% 50%,
    var(--_c)/50% 100%;
  border-radius: 50%;
  animation: l29 2s infinite linear;
}
@keyframes l29 {
  100% {transform: rotate(1turn)}
}