* {
  box-sizing: border-box;
}

:root {
  font-size: 1.2rem;
}

html,
body {
  margin: 0;
  width: 100%;
  height: auto;

  font-family: var(--font-humanist);
  line-height: var(--font-lineheight-1);
}

body {
  min-height: 100vh;
}

main, footer {
  margin: 0;
}

button,
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="text"],
input[type="url"],
textarea {
  -webkit-border-radius: var(--radius-5);
  -moz-border-radius: var(--radius-5);
  -o-border-radius: var(--radius-5);
  border-radius: var(--radius-5);
}

section {
  margin: var(--size-7) 0;
}

a {
  text-decoration: none;
}

button {
  padding: var(--size-2);

  border: none;
  background-color: var(--gray-3);

  &:hover {
    background-color: var(--gray-4);
  }
}

code {
  background-color: hsl(var(--gray-6-hsl) / 20%);

  font-family: var(--font-monospace-code);
  letter-spacing: var(--font-letterspacing-0);
}