---
import Header from "~/components/Header"
import "~/styles/main.css"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<!--
			Google Icons
			Usage: <i class="material-symbols-outlined">search</i>
		-->
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body class="layout">
		<Header />

		<main class="main">
			<slot />
		</main>
	</body>
</html>
