---
import Footer from "~/components/Footer"
import Header from "~/components/Header"
import { $PATH } from "~/config"
import "~/styles/main.css"

interface Props {
	isPathAbout?: boolean
}

const { isPathAbout } = Astro.props
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />

		<!--
			Google Icons
			Usage: <i class="material-symbols-outlined">search</i>
		-->
		<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

		<meta name="generator" content={Astro.generator} />
		<title>Drin.cc - URL Shortener</title>
	</head>
	<body class={`body ${isPathAbout ? "body--lighten" : ""}`}>
		<Header
			isLighten={isPathAbout}
			bulbRoutePath={isPathAbout ? $PATH.home : $PATH.about}
		/>
		<main class="main">
			<slot />
		</main>

		<Footer />
	</body>
</html>
